# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PostgreSQL connection string for Prisma (Supabase)
# Use transaction connection pooling (port 6543) or direct connection (port 5432)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.fwiqyzfebeqvtkkeajya.supabase.co:5432/postgres"

# Direct URL for migrations (port 5432)
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.fwiqyzfebeqvtkkeajya.supabase.co:5432/postgres"

# Supabase Public Keys
NEXT_PUBLIC_SUPABASE_URL="https://fwiqyzfebeqvtkkeajya.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_Z4Rt2XjLBlH2dj9ID6ZTCQ_DhWrubZQ"
